[submodule "deps/chromium_assets"]
	path = deps/chromium_assets
	url = http://git.chromium.org/chromiumos/platform/assets.git
[submodule "deps/mosh"]
	path = deps/mosh
	url = https://github.com/keithw/mosh.git
