# Use nacl-sdk toolchain, specifically pnacl.
build:pnacl --crosstool_top=//:toolchain --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# By default, built in opt mode. Fastbuild has no benefit here.
build -c opt

# Don't build things that aren't tests; failures will ensue due to targets that
# only build with --config=pnacl.
test --build_tests_only
